<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="DemoTestScripts.Priority_NG"/>
      <class name="DemoTestScripts.SkipTestScript"/>
      <class name="DemoTestScripts.InvocationCount"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
